# True for development, False for production
DEBUG=True

SECRET_KEY=S3cr3t_K#Key

DB_ENGINE=postgresql
DB_HOST=db
DB_NAME=reslab_db
DB_USER=admin
DB_PASSWORD=S3cr3t
DB_PORT=5432

# Celery settings
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
