{% extends "base.html" %}
{% block title %}Study Form{% endblock %}

{% block content %}
<div class="sixteen wide column">
    <h2 class="ui header">{% if is_update %}Update Study{% else %}Add Study{% endif %}</h2>
    <form class="ui form" method="post" action="{% if is_update %}{% url 'sample_tracker:study_update' study.id %}{% else %}{% url 'sample_tracker:study_create' %}{% endif %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
            <label>{{ field.label }}</label>
            {{ field }}
            <!-- Field errors -->
             {% if field.errors %}
            <div class="ui error message">
                <ul class="ui list">
                    {% for error in field.errors %}
                    <li class="item">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>>
            {% endif %}
        </div>
        {% endfor %}
        <button class="ui button" type="submit">{% if is_update %}Update{% else %}Add{% endif %}</button>
    </form>
</div>>
{% endblock %}