{% extends "base.html" %}

{% block title %}Login - Research Lab Management Information System{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid" style="height: 100vh;">
    <div class="column" style="max-width: 450px;">
        <h2 class="ui teal image header">
            <div class="content">Log in to your account</div>
        </h2>
        <form class="ui large form" method="POST">
            {% csrf_token %}
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="Username" required>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                </div>
                <button class="ui fluid large teal submit button" type="submit">Login</button>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
</div>
{% endblock %}
